@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Inter/Inter_18pt-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Inter/Inter_18pt-Bold.ttf'), local('ttf');
  font-display: swap;
}